/*______________________Header________________________*/

#fond1{
  background-color:#00CA63; /********Couleur fond haute de page**********/
  height: 660px; /********Hauteur cadre page de garde**********/
}

.titre{
  text-align:center;/********Position Titre**********/
}

#contaireImg{ /******conteneurLogo****/
  text-align: center;
  margin: auto;
  padding-top: 1%;
}

#image{
   /******Position titre par rapport a la page de garde******/
  text-align: center;
}
/*______________________Tout les Section______________________________*/

.SectionTitre{/******Titre*******/
  font-size: 50px;
  padding: 3%;
}

.SectionTexte{
  padding: 2px;
}
/*______________________Section 1 Qui je suis__________________________*/

#Section1{ /*******Bloc Section1 Qui je suis *****/

  height: 330px;
  background-color: red;
  margin: 0;
  padding:0;
}
/*___________________________Section 2 Formation________________________*/

#Section2{ /*******Section2  *****/
  background-color:yellow;
  margin: 0;
  padding:0;
}
/*___________________________Section 3 Exp projet______________________*/

#Section3{ /*********Experience - Projet******/
  background-color: green;
  margin: 0;
  padding:0;
}
