@font-face {
    font-family: "yeti";
    src: url("BananaYeti-Extrabold Trial.ttf");
}
/*___________________Nav Bar_________________________*/
.navbar {   /*****Webkit pour transiton plus dousse ...*/
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;



}

.navbar{
    background: rgba(0, 0, 0, 0.10); /***Couleur floux***/
    visibility: hidden;
}

.nav-link {
  visibility: visible;
  font-family: "yeti";
  font-size: 40px;
  color: #006733;
}

.opaque {
visibility: visible;
background: rgb(68, 68, 68); /****Couleur opaque***/
-moz-box-shadow: 0px 5px 5px 0px ;      /** ombre **/
-webkit-box-shadow: 0px 5px 5px 0px ;
-o-box-shadow: 0px 5px 5px 0px ;
box-shadow: 0px 5px 5px 0px;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=5);
}
.opaque .nav-link{ /******couleur texte en nav ****/
  color: #fff;
}



/*______________________Header________________________*/

#fond1{
  background-color:#00CA63; /********Couleur fond haute de page**********/
  height: 660px; /********Hauteur cadre page de garde**********/
}

.titre{
  font-family: "yeti";
  color: #006733;
  font-size: 60px;
  text-align:center;/********Position Titre**********/
}

#contaireImg{ /******conteneurLogo****/
  text-align: center;
  margin: auto;
  padding-top: 120px;
}

#image{
   /******Position titre par rapport a la page de garde******/
  text-align: center;
}
/*___________________Pour Tout les Section______________________________*/

.SectionTitre{
  font-family: "yeti";
  font-size: 50px;
  padding-top:3%;
  padding-bottom:3%;
}



 .SectionTexte{

   font-size: 20px;
 }
/*______________________Section 1 Qui je suis / Loisir__________________________*/

#Section1{ /*******Bloc Section1 Qui je suis *****/
  margin: 0;
  padding:0;
  padding: 30px;
  width:900px;
  background-color: red;
}

#loisir{ /******* Article loisir *****/

  display: flex;
  padding-top: 30px;
}




.listeLoisir{
  font-size: 25px;
  font-family: "yeti";
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 25px;
  padding-left: 30px;
  padding-bottom: 25px;
  width: 110px;

}
/*___________________________Section 2 Formation________________________*/

#Section2{ /*******Section2  *****/
  background-color:yellow;
  margin: 0;
  padding:0;
}
/*___________________________Section 3 Exp projet______________________*/

#Section3{ /*********Experience - Projet******/
  background-color: green;
  margin: 0;
  padding:0;
}
