#fond1{
       background-color:#00CA63; /********Couleur fond haute de page**********/
       padding-bottom:12%; /********Hauteur cadre page de garde**********/
}

.titre{text-align:center;/********Position Titre**********/
      }

#image{ /******Position titre par rapport a la page de garde******/
       padding-top:20%;
       padding-left:9%;
}
